# Database
DATABASE_URL="postgresql://postgres:postgres@localhost:5432/portfolio_db?schema=public"

# Authentication
JWT_SECRET="generate_a_secure_random_64_byte_hex_or_string_here_min_32_chars"
SESSION_COOKIE_NAME="portfolio_admin_session"

# Initial Admin Seeding (Used only by prisma seed)
ADMIN_USERNAME="Ryan_osama"
ADMIN_INITIAL_PASSWORD="W_s87809*"

# Storage Driver (local | r2)
STORAGE_DRIVER="local"

# Cloudflare R2 Settings (Production)
R2_ACCOUNT_ID=""
R2_ACCESS_KEY_ID=""
R2_SECRET_ACCESS_KEY=""
R2_BUCKET=""
R2_PUBLIC_URL=""

# App URL
NEXT_PUBLIC_APP_URL="http://localhost:3000"
